{{#if (or (and this.topic (check-moderatori this.currentUser.groups)) (and this.topic this.currentUser.admin)) }}
<CustomButton
  @action={{this.toggleInfo}}
  @label="custom.send_notification"
  @id={{this.topic.id}}
  @topic_id={{this.topic.id}}
  @icon="arrow-up"
  class="btn-default"
/>
{{/if}}
<DButton
  @translatedLabel="Mostra notifiche"
  @action={{fn (mut this.modalIsVisible) true}}
/>

{{#if this.modalIsVisible}}
  <DModal @title="Notifiche inviate" @closeModal={{fn (mut this.modalIsVisible) false}} class="topic-bulk-actions-modal">
    <table class="table">
      <tr>
        <th>Data</th>
      </tr>
      {{#each this.topic.custom_notifications as |notification|}}
      <tr>
        <td>{{notification.[0]}}</td>
      </tr>
      {{/each}}
    </table>
  </DModal>
{{/if}}